footer {
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

span {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

p {
    margin: 5px;
}

footer a {
    color: #fff;
}